.card {
  margin-top: 1vw;
  margin-right: 8vw;
  width: 20vw;
  height: 80vw;
  padding: 1vw;
  border: 0px solid #ddd;
  border-radius: 10px;
  background-color: #ffffff;
  text-align: left;
}


.avatarContainer {
  width: 20vw;
  height: 20vw;
  margin: 0 ;
  margin-bottom: 2vw;
  border: 0.15vw solid #00c42e;
  border-radius: 50%;
  overflow: hidden;
}

.avatar {
  aspect-ratio: 1/1;
  border-radius: 50%;
}

.name {
  font-size: 2vw;
  font-weight: bold;
  margin: 0;
}

.username {
  color: #555;
  font-size: 0.9rem;
  margin: 0;
  margin-bottom: 1vw;
}

.divider {
  margin: 10px 0;
  border: 0;
  border-top: 1px solid #dadada;
}

.details {
  list-style: none;
  padding: 0;
  margin: 10px 0;
}

.details li {
  font-size: 0.9rem;
  margin: 5px 0;
}

.workingHours {
  margin-top: 15px;
  color: #777;
  font-size: 0.9rem;
}




